<div class="page container">

<%= render "admin_navbar" %>

<div class="page-header">
  <h2>Lojas
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Descrição</th>
      <th>Localização</th>
      <th><div class="pull-right">Opções</div></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.id, store_path(store) %></td>
        <td><%= store.name %></td>
        <td><%= store.cnpj %></td>
        <td><%= store.description %></td>
        <td><%= store.location %></td>
        <td>
          <div class="pull-right">
          <%= link_to icon('edit')+" Editar Produtos",
                      store_products_path(store), :class => 'btn btn-sm btn-primary btn-edit-page' %>
          
          <%= link_to icon('edit')+" Editar",
                      edit_store_path(store), :class => 'btn btn-sm btn-edit' %>
          <%= link_to icon('trash-o')+" Excluir",
                      store_path(store),
                      :method => :delete,
                      :data => { :default => 'Você deseja excluir a loja?' },
                      :class => 'btn btn-sm btn-delete' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
