<div class="col-md-8 col-md-offset-2">
<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group col-md-12">
    <label class="col-md-2 control-label">Nome: </label>
    <div class="col-md-10">
      <%= f.input :name, label:false , wrapper: false %><br>
    </div>
    
    <label class="col-md-2 control-label">Código: </label>
    <div class="col-md-10">
      <%= f.input :code,  label:false , wrapper: false %><br>
    </div>

    <label class="col-md-2 control-label">Preço: </label>
    <div class="col-md-10">
      <%= f.input :price,  label:false , wrapper: false %><br>
    </div>
    
    <label class="col-md-2 control-label">Descrição: </label>
    <div class="col-md-10">
      <%= f.input :description,  label:false , wrapper: false %><br>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to "Voltar" , products_path, :class => 'btn btn-default' %>
      <%= f.button :submit, "Enviar", :class => 'btn-success' %>
    </div>
  </div>
<% end %>

</div>