<div class="page container">
  
  <%= render "stores/admin_navbar" %>
  
  <div class="page-header">
    <h2>PRODUTOS</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Código</th>
        <th>Preço</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <a href="<%= store_product_path(@store, product) %>"></a>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= product.code %></td>
          <td><%= product.price %></td>
          <td><%= link_to icon('external-link')+" Ver no site", store_product_path(@store,product), class:"btn btn-sm btn-primary btn-edit-page" %>
              <%= link_to icon('edit')+" Editar",
                      edit_store_product_path(@store, product), :class => 'btn btn-edit' %>
              <%= link_to icon('trash-o')+" Excluir",
                      store_product_path(@store, product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  
