<div class="container">
  <div class="col-md-12">
    <h2>Novo Produto</h2>
    <%= link_to "Voltar", :back, class:'btn btn-default pull-right' %>
  </div>

  <div>
    Nome: <%= @product.name %> <br>
    Código: <%= @product.code %> <br>
    Descrição: <%= @product.description %> <br>
    Preço: <%= @product.price %> <br>
  </div>
  
</div>