<!DOCTYPE html>
<html>
	<head>
	  <title>Showshop</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    
    <%= render "shared/user" %>
    
		<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
       		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">MENU</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "ShowShop", root_path, class:"navbar-brand" %>
       	</div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Lojas", stores_path %></li>
        </ul>
      </div>
    </nav>

		<%= yield %>
	
	</body>
</html>
